.card-grid .card {
  position: relative;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.2s ease-out;
}

.card.fund:hover {
  transform: translateY(-12px);
  transition: 0.2s ease-in;
  background: linear-gradient(180deg, rgba(10, 212, 250, 0.8) 0%, rgba(37, 187, 241, 0.8) 100%);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.card.fund:hover .small-horizontal-divider,
.card.fund:hover .product-info {
  opacity: 0.2;
}

.card.fund:hover .card-image img {
  opacity: 0.05;
}

/* Card Image */
.card .card-image {
  position: relative;
  width: 252px;
  height: 182px;
}

.card .card-image img {
  width: 100%;
}

/* Buy Button */
.card button.buy-button {
  width: 42px;
  height: 42px;
  border: none;
  padding: 0;

  position: absolute;
  transform: translate(-100%, 0);
  left: 100%;

  background: none;
  cursor: pointer;
}

.card button.buy-button:focus {
  outline: none;
}

.card button.buy-button svg {
  outline: none;
  transition: transform 0.15s;
}

.card button.buy-button svg:hover {
  transform: scale(1.1);
}

.card button.buy-button svg:active {
  transform: scale(1);
}

/* NoFunds Button */

.card button.no-funds {
  width: 142px;
  height: 42px;
  border: none;
  padding: 0;

  position: absolute;
  transform: translate(-100%, 0);
  left: 100%;

  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 100px;
  background: #616161;
  cursor: pointer;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0329412px;
  color: #ffffff;
}

.card button.no-funds > svg,
.card button.no-funds > span {
  vertical-align: middle;
}

/* Horizontal Divider */
.card-grid .card .small-horizontal-divider {
  background: #d9d9d9;
  width: 228px;
  height: 1px;
}

/* Product Info */
.card .product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 228px;
  margin-top: 19px;
}

.product-info p {
  margin: 0;
}

.product-category {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.0376471px;
  align-self: baseline;

  color: #a3a3a3;
}

.product-title {
  font-size: 18px;
  line-height: 23px;

  letter-spacing: -0.0423529px;

  color: #616161;
}

/* REDEEM PANEL */

.redeem-panel {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redeem-panel .redeem-price {
  display: flex;
  align-items: center;
  margin: 15px;
}

.redeem-panel .redeem-price p {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.0847059px;
  margin: 0;
}

.redeem-panel .redeem-price svg {
  transform: translate(3px, 3px);
}

.redeem-panel button.redeem-button {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.0423529px;

  color: #616161;

  background: #eeeeee;
  border: none;
  border-radius: 22px;
  height: 42px;
  width: 229px;

  transition: transform 0.15s;
}

.redeem-panel button.redeem-button:focus {
  outline: none;
}

.redeem-panel button.redeem-button:active {
  transform: scale(0.9);
}

.redeem-panel button.redeem-button:hover {
  background: #e0dede;
}
