header.head {
  max-width: 1440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.head .user {
  display: flex;
  justify-content: space-between;
}

header.head .user p {
  margin-right: 10px;
}

header.head .logo {
  margin-left: 42px;
}
