header.head {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.head .user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
}

header.head .user p {
  color: #616161;
  text-align: center;
  letter-spacing: -0.15px;
  font-size: 24px;
}

header.head .user .btn-header {
  border: none;
  border-radius: 100px;
  width: 103px;
  height: 48px;
  cursor: pointer;
  background-color: #ededed;

  font-size: 20px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  color: #616161;
  letter-spacing: -0.15px;
}

header.head .user .point-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
}

header.head .user .point-info img {
  margin-left: 6px;
  transform: translateY(3px);
}

header.head .logo {
  margin-left: 42px;
}

@media (max-width: 768px) {
  header.head .user p {
    font-size: 18px;
  }

  header.head .user .btn-header {
    width: 84px;
    height: 44px;

    font-size: 18px;
  }
}
