header.head {
  max-width: 1440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.head .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  height: 48px;
  margin-right: 42px;
}

header.head .user p {
  color: #616161;
  text-align: center;
  letter-spacing: -0.15px;
  font-size: 24px;
}

header.head .user .point-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  border-radius: 100px;
  width: 103px;
  height: 48px;
}

.point-info p {
  margin-left: 6px;
}

header.head .user .point-info img {
  margin-left: 6px;
  transform: translateY(3px);
}

header.head .logo {
  margin-left: 42px;
}
