.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  min-width: 400px;
  padding: 50px;
  z-index: 1000;
}

button.close-modal {
  font-size: 28px;
  font-weight: bold;
  line-height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #aaaaaa;
  border: none;
  background-color: transparent;
  transition: ease 0.1s;
}

button.close-modal:hover,
button.close-modal:focus {
  color: #000;
  cursor: pointer;
  outline: none;
}

button.close-modal:hover {
  transform: scale(1.2);
  color: #0ad4fa;
}

button.close-modal:focus {
  transform: scale(1.2);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #616161;
  padding: 15px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-content button {
  background-color: #ededed;
  border: none;
  border-radius: 100px;
  width: 124px;
  height: 38px;
  cursor: pointer;

  font-size: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  color: #616161;
  letter-spacing: -0.15px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ededed;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 12em;
  height: 2em;
  line-height: 2;
  background: #616161;
  overflow: hidden;
  border-radius: 0.25em;

  margin-bottom: 24px;
}
select {
  flex: 1;
  padding: 0 3.8em;
  color: #616161;
  cursor: pointer;
  font-size: 18px;
}
/* Arrow */
.select::after {
  content: '\25BC';
  color: #616161;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #0ad4fa;
}

.modal-content ul {
  padding: 0;
}

@media (max-width: 768px) {
  .modal {
    min-width: 300px;
    padding: 20px;
  }
}
