/* CONTAINER */

.container {
  width: 1176px;
  margin: auto;
  text-align: center;
}

/* CONTAINER -> FILTER  */
section.container .filter-grid {
  display: grid;
  grid-template-columns: 881px 1fr 52px 52px;
  grid-template-rows: 52px;
  column-gap: 12px;
  margin-bottom: 24px;
}

section.container .filter-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  color: #a3a3a3;
  font-size: 24px;
  letter-spacing: -0.15px;
  line-height: 48px;
}

section.container .filter-area li:first-child {
  color: #616161;
}

section.container .filter-area button {
  font-size: 18px;
  background: #ededed;
  display: block;
  color: inherit;
  border-radius: 100px;
  width: 172px;
  height: 48px;
  border: none;
  cursor: pointer;
}

section.container .filter-area button:active {
  background: #0ad4fa;
  color: #ffffff;
  outline: none;
}

section.container .filter-area button:focus {
  background: #0ad4fa;
  color: #ffffff;
  outline: none;
}

section.container li.filter-divider {
  margin: 0;
  background: #d9d9d9;
  width: 1px;
  height: 49px;
}

.horizontal-divider {
  margin: 0 0 30px 0;
  background: #d9d9d9;
  width: 1176px;
  height: 1px;
}

/* BUTTONS */
.btn.page-changer:focus {
  outline: none;
}

.btn.page-changer:active {
  filter: brightness(0) saturate(100%) invert(82%) sepia(34%) saturate(7048%) hue-rotate(146deg)
    brightness(103%) contrast(96%);
}
.btn.page-changer.next {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url('../../assets/icons/arrow-right.svg');
}

.btn.page-changer.prev {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  background-image: url('../../assets/icons/arrow-left.svg');
}

.filter-grid .btn.page-changer.prev {
  grid-column-start: 3;
}

.filter-grid .btn.page-changer.next {
  grid-column-start: 4;
}

/* CARD GRIDS */

.card-grid {
  display: grid;
  grid-template: repeat(4, 279px) / repeat(4, 276px);
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 60px;
}

section.container .foot.filter-area {
  justify-self: baseline;
}
