@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;700&display=swap');

body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: SourceSansPro-Regular;
}
